@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Noto+Serif:400,700|Patua+One|Source+Sans+Pro&display=swap');

/* 
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Bree Serif', serif;
font-family: 'Patua One', cursive;
font-family: 'Abril Fatface', cursive;
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --playing-card-font: 'Bree Serif', serif;
}
 
.action__double {

}

.action__hit {
   
}

.action__stand {
    
}

.button {
    padding: .5rem;
    font-family: var(--playing-card-font);
    font: bold;
}

.cards {
    /* ♠♣♥♦ */
}

.game__dealer {
    background-color: rgb(15, 82, 15);
}

.game__player {
    background-color:  rgb(15, 82, 15);;
}

.game__player-actions {

}

.game__player-cards, .game__dealer-cards {
    display: flex;
    margin: 1rem;
}

.main__game {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
}

.main__header {
    /* display: flex;
    justify-content: space-between; */
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    color: #F12925;
    background-size: 8rem 8rem;
    background-image: url(./images/cartoon_unicorn.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: black;

}

.main__header-image img {
    /* height: auto;
    width: auto; */
    /* size: 10%; */
}

.main__player-stats {
    background-color: indianred;
}

.main__wrapper {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    min-height: 100vh;
}

.playing-card {
    align-items: center;
    background-color: rgb(241, 225, 205);
    border-radius: 15%;
    border: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    font-family: var(--playing-card-font);
    font: bold;
    justify-content: center;
    height: 4rem;
    margin: .175rem;
    width: 3rem;  
}

.playing-card__container {
    border: 1px;
    border-style: solid;
    border-radius: 15%;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.black-suit {
    border-color: #F12925;
    color: black;
}

.red-suit {
    border-color: black;
    color: #F12925;
}

.playing-card__value {
    
}
